.character-wrapper{
    margin-top: 6em
}

.back-btn {
    cursor: pointer;
    color: #ffc107
}

.card-top-boarder {
    border-top: 2px solid #ffc107;
}

.spinner-wrapper {
    text-align: center;
    margin-top: 8em;
}

.card-bottom {
    margin-bottom: 0.5em
}

.section-wrapper {
    margin-bottom: 2.1em;
}