<div class="container">
    <div class="mt-2">
        <button type="button" (click)="back()" class="btn btn-warning">Back</button>
    </div>

    <div class="row character-wrapper">
        <div class="col-md-8 offset-md-2" *ngIf="character; else loading_section">
            <div class="section-wrapper">
                <h1>{{character.name}}</h1>
                <div class="card card-top-boarder">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted" *ngIf="(species$ | async)?.length > 0">
                            Species: <span *ngFor="let spec of species$ | async">{{spec.name}} </span>
                        </h6>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Gender: {{character.gender}}
                        </h6>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Birth Year: {{character.birth_year}}
                        </h6>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Height: {{character.height}}
                        </h6>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Skin Color: {{character.skin_color}}
                        </h6>
                    </div>
                </div>
            </div>

            <div class="section-wrapper text-center" *ngIf="(movies$ | async)?.length > 0">
                <h3 class="header-bottom">Movies</h3>
                <div class="row justify-content-center">
                    <div class="col-md-4 col-sm-6" *ngFor="let movie of movies$ | async">
                        <div class="card card-bottom card-top-boarder">
                            <div class="card-body">
                                <h6 class="card-title">{{movie.title}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-wrapper text-center" *ngIf="(spaceShips$ | async)?.length > 0">
                <h3 class="header-bottom">Spaceships</h3>
                <div class="row justify-content-center">
                    <div class="col-md-4 col-sm-6" *ngFor="let ship of spaceShips$ | async">
                        <div class="card card-bottom card-top-boarder">
                            <div class="card-body">
                                <h6 class="card-title">{{ship.name}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <ng-template #loading_section>
            <div class="spinner-wrapper">
                <div class="spinner-grow text-warning" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </ng-template>
    </div>
</div>